.container
    .card-wrapper.col-sm-4.col-sm-offset-4
      .card
        .col-sm-12
          h1.text-center Login
          br
        .col-sm-12
          a.btn.btn-primary.btn-block.btn-github(href="", ng-click="loginOauth('github')")
            i.fa.fa-github
              | &nbsp;
              | Connect with Github
