// Element Floats
.pull-right
  float right !important

.pull-left
  float left !important

// Element Visibility
.hide
  display none !important

.show
  display block !important

.invisible
  visibility hidden

// Text Alignment
.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

.text-justify
  text-align justify

.text-nowrap
  text-align nowrap
