// Global Overrides
*
  box-sizing border-box

  &:before,
  &:after
    box-sizeing border-box


// Element alignment
.content-center
  display flex
  align-items center
  justify-content center

.content-middle
  align-items center
  justify-content center

// Element Floats
.pull-right
  float right !important

.pull-left
  float left !important

// Element Visibility
.hide
  display none !important

.show
  display block !important

.invisible
  visibility hidden

// Text Alignment
.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

.text-justify
  text-align justify

.text-nowrap
  text-align nowrap

.word-break
  word-wrap break-word
  word-break break-word
  hyphens auto

.text-lg
  font-size 18px

.text-sm
  font-size 12px

// Padding
.padding
  padding 10px

.padding-sm
  padding 5px

.padding-lg
  padding 15px
