########################
id: longer_markers
name: Longer Than Default Markers
event: comment_pull_request
########################

<div class="comment-pull-request-wrapper">
  New PR Comment - <%= pr_title %>
</div>
