$blue-darker = #1c334b
$blue-dark = #25465f
$blue-light = #87a3b2

//== Global
$body-bg = $blue-darker
$grid-gutter-width = 15px

$border-radius-base = 2px
$border-radius-large = 3px
$border-radius-small = 1px

//== Navbar
$navbar-margin-bottom = $grid-gutter-width*2
$navbar-inverse-color = white
$navbar-inverse-bg = $blue-dark
$navbar-inverse-border = transparent

