###
id: create_issue_comment
name: Create Issue Comment
event: CreateIssueComment
size: small
###

<div class="create-issue-comment-wrapper">
  <p>{{comment.title}}</p>
  <p>{{comment.body}}</p>
</div>
