###
id: create_issue_comment
name: Create Issue Comment
event: CreateIssueComment
size: small
###

<div class="create-issue-comment-wrapper">
  <div class="text-center text-lg word-break padding">
    {{{marked (emojify comment.body)}}}
  </div>

  <div class="footer background-lighten padding-sm">
    <div class="media">
      <div class="user media-left"><img class="circle" src="{{comment.user.avatar_url}}" /></div>
      <div class="media-body media-middle"><strong>{{comment.user.login}}</strong> commented on issue <strong>#{{issue.number}}</strong></div>
    </div>
  </div>
</div>
