###
id: new_pr
name: New Pull Request
event: OpenPullRequest
size: small
###

<div class="pull-request-wrapper">
  @{{pull_request.user.login}} created PR #{{pull_request.number}} "{{pull_request.title}}"
</div>
