###
id: plus_one_comment
name: Plus One
event: CreateIssueComment
condition: or (eq .Comment.Body `:+1:`) (eq .Comment.Body `:+1: `)
size: small
###

<div class="plus-one-comment-wrapper">
  <div class="content-center">
    <div class="icon-holder icon-holder-lg circle">
      <i class="icon icon-thumbs-up"></i>
    </div>
  </div>
</div>
