.icon-holder
  background rgba(0, 0, 0, .08)
  margin 5px
  text-align center
  width 40px
  height 40px
  font-size 22px
  display flex
  align-items center
  justify-content center

  &.circle
    border-radius 50%

  &.rounded
    border-radius $border-radius-base

  &.icon-holder-lg
    margin 10px
    width 100px
    height 100px
    font-size 55px
