*
  box-sizing border-box

body
  background $blue-darker
  margin 0
  padding 0

.widget
  height 400px
  float left
  padding 10px
  color white

  & > div
    background-color $blue-light
    height 100%
    width 100%
    overflow hidden

    &.green
      background-color $green

    &.purple
      background-color $purple

    &.red
      background-color $red

.background-darken
  background rgba(0, 0, 0, .08)

.background-lighten
  background rgba(255, 255, 255, .15)
