<!--
{
  "id": "create_issue_comment",
  "name": "Create Issue Comment",
  "event": "CreateIssueComment",
  "condition": ""
}
-->

<div class="pull-request-wrapper">
  Hello World! New Issue - {{title}}
</div>
